* {
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif, normal ;
}

.page_connexion header {
  display: flex;
  justify-content: center;
}

main {
  min-height: 80%;
  margin-bottom: -50px;
}

main:after {
  content: "";
  display: block;
  height: 50px;
}

.reinitMdpInstructions {
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.page_connexion .logo_gbaf {
  height: 200px;
  width: 200px;
}

.page_connexion .logo_gbaf > img {
  height: 100%;
  width: 100%;
}

.page_connexion h1 {
  text-align: center;
  font-size: 2em;
}

.texte_lien_inscription {
  display: block;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.page_connexion label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
  margin-left: 3px;
}

.page_connexion input {
  width:92%;
  height:27px;
  background:#efefef;
  border:1px solid #e0e0e0;
  padding:10px;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 5px;
  font-size:0.9em;
  color:#666666;
  border-radius:5px;
}

.page_connexion fieldset {
  margin-right: 1px;
}

.page_connexion input:focus {
  border:1px solid #333333;
}

.page_connexion .submit {
  color: #ffffff;
  background-color: #666666;
  width:127px;
  height:42px;
  border:none;
  margin-top:15px;
  cursor:pointer;
  margin-bottom: 10px;
}

.page_connexion .submit:hover {
  opacity: 0.9;
}

footer {
  height: 50px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  width:100%;
}

.liens_footer > p {
  margin-top: 15px;
  font-size: 16px;
}

.liens_footer > p > a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

p.champ_alerte {
  color: red;
}

.page_connecte > header > .logo_gbaf {
  height: 200px;
  width: 200px;
  margin: auto;
}

.page_connecte > header > div {
  text-align: center;
}

.page_connecte .logo_gbaf img {
  height: 100%;
  width: 100%;
}

.conteneur_utilisateur > p {
  font-size: 32px;
  font-weight: bold;
  color: #222222;
}

.conteneur_utilisateur nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conteneur_utilisateur a {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 42px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
	padding: 6px 0 6px 0;
	border-radius: 8px;
	background: #d63520;
	font: bold 16px Arial;
	color: #ffffff;
  text-decoration: none;
}

.conteneur_utilisateur input {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 54px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
	padding: 6px 0 6px 0;
	border-radius: 8px;
	background: #d63520;
	font: bold 16px Arial;
	color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.conteneur_utilisateur input:hover {
  cursor: pointer;
}

.conteneur_utilisateur a > p {
  font-size: 16px;
}

.page_connecte header {
  margin-bottom: 20px;
}

.page_connecte h1 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.page_acteurs_h2 {
  text-align: center;
}

.paragraphe_commentaire {
  margin-bottom: 10px;
  margin-left: 3px !important;
  margin-right: 3px !important;
  word-wrap: break-word;
  word-break: normal;
}

.page_connecte section p {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 5px;
}

.liste_banque {
  list-style-type: square;
  margin-left: 80px;
  margin-top: 10px;
}

.conteneur_img_avis {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.conteneur_img_avis img {
  max-width: 300px;
}

.conteneur_acteur {
  border: black 1px solid;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.conteneur_logo_acteur {
  width: 300px;
  height: 100px;
  margin-top: 5px;
}

.conteneur_logo_acteur img {
  width: 100%;
  height: 100%;
}

.conteneur_acteur h3 {
  align-self: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}


.conteneur_acteur p {
  align-self: flex-start;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.lire_la_suite {
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
  background: #d63520;
  font: bold 16px Arial;
  color: #ffffff;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.mentions_legales, .contact {
  text-align: center;
}

.mentions_legales p, .contact p {
  margin: 20px;
}

.page_acteur ul {
  margin-left: 90px;
  margin-right: 40px;
}

.page_acteur_logo {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 100px;
  margin-top: 5px;
}

.page_acteur_logo img {
  width: 300px;
  height: 100px;
}

.page_acteur h2 {
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 38px;
}

.page_acteur a {
  margin-left: 40px;
}

.conteneur_commentaires {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  border: 1px solid black;
}

.conteneur_commentaires h3 {
  display: inline-block;
  margin-top: 10px;
  font-size: 24px;
  padding-bottom: 10px;
  margin-left: 15%;
}

.conteneur_commentaires form {
  display: inline-block;
  margin: auto;
  width: 33%;
  margin-left: 15%;
}

.vignette_commentaire {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.conteneur_commentaires span {
  font-size: 32px;
}

.nouveau_commentaire {
  display: inline-block;
  width: 100%;
  margin-left: 22%;
  text-align: center;
  min-height: 38px;
  max-width: 160px;
  border: none;
	padding: 6px 0 6px 0;
	border-radius: 8px;
	background: #d63520;
	font: bold 16px Arial;
	color: #ffffff;
  text-decoration: none;
}

.bulle_commentaire {
  margin-left: 30px;
}

.commentaire_envoi {
  display: block;
}

.commentaire_label {
  display: block;
}

.compteur_likes {
  display: block;
  margin-left: 40%;
  margin-top: 10px;
}

.compteur_likes img {
  max-width: 32px;
  max-height: 32px;
}

.compteur_likes {
  display: block;
  top: 0;
  right: 190px;
}

.nombre_likes {
  position: absolute;
}

.commentaire_zone {
  width: 90%;
  min-height: 75px;
  resize: none;
  border: 3px solid #cccccc;
	padding: 5px;
}

.bulle_commentaire input {
  color: #ffffff;
  background-color: #666666;
  width:127px;
  height:42px;
  border:none;
  margin-top:15px;
  cursor:pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.commentaire_label {
  margin-bottom: 10px;
}

.commentaire_confirm {
  display: inline;
  font-size: 20px;
}

.image_commentaire_confirm {
  margin-left: 30px;
}

.deja_commente, .deja_like {
  color: #313131;
}

.image_like_confirm {
  margin-left: 30px;
}

.conteneur_like_confirm {
  margin-bottom: 15px;
}

.like_confirm {
  display: inline;
  font-size: 32px;
}

.acteur_lien_ext {
  text-decoration: none;
  color: #333333;
}

/* Tablettes Portrait */
@media (min-width: 600px) {
  .page_connexion input {
    width:96%;
  }

  .page_connecte > header > .logo_gbaf {
    height: 200px;
    width: 200px;
    margin: 0;
    margin-left: 40px;
  }

  .page_connecte header {
    display: flex;
    justify-content: space-between;
  }

  .conteneur_utilisateur {
    margin-top: 40px;
  }

  .conteneur_utilisateur nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 40px;
  }

  .conteneur_nav {
    margin-right: 20px;
  }

  .conteneur_utilisateur > p {
    margin-right: 40px;
  }

  .reinitMdpInstructions {
    font-size: 1.5em;
    text-align: center;
  }

  .conteneur_utilisateur a {
    width: auto;
  }

  .conteneur_utilisateur a > p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .page_acteurs_h2 {
    text-align: left;
  }

  .conteneur_acteur {
    flex-direction: row;
    align-items: flex-start;
    height: 160px;
  }

  .conteneur_logo_acteur {
    max-width: 250px;
    max-height: 100px;
    margin-top: 15px;
    margin-left: 30px;
  }

  .conteneur_logo_acteur img {
    width: 250px;
    height: 100px;
  }

  .conteneur_acteur h3 {
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
  }

  .conteneur_acteur p {
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
  }

  .page_acteurs_h2 {
    margin-left: 25px;
  }

  .conteneur_infos-bouton_commentaires {
    position: relative;
    margin-bottom: 20px;
  }

  .boutton_like , .boutton_dislike {
    position: absolute;
  }

  .boutton_dislike {
    top: 0;
    right: 30px;
  }

  .boutton_like {
    top: 0;
    right: 85px;
  }

  .nouveau_commentaire {
    position: absolute;
    display: inline-block;
    max-width: 160px;
    right: 250px;
    top: 5px;
    text-align: center;
  }

  .conteneur_commentaires form {
    display: inline-block;
    margin: 0;
    top: 5px;
    width: auto;
  }

  .compteur_likes {
    position: absolute;
    display: block;
    top: 0;
    right: 190px;
  }

  .nombre_likes {
    position: absolute;
    bottom: 0px;
  }

  .conteneur_commentaires h3 {
    display: inline-block;
    margin-top: 10px;
    font-size: 36px;
    padding-bottom: 0px;
    margin-left: 30px;
  }

  .commentaire_label {
    font-size: 24px;
    text-align: center;
  }

  .bulle_commentaire input {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .commentaire_zone {
    width: 95%;
    min-height: 100px;
  }

  .conteneur_confirm {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .commentaire_confirm {
    font-size: 42px;
  }

  .conteneur_like_confirm {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .like_confirm {
    font-size: 42px;
  }
}

/* Tablettes landscape et petits écrans de bureau */
@media (min-width: 900px) {
  .page_connexion input {
    width:97%;
  }

  .page_connecte h1, h2 {
    margin-left: 40px;
  }

}

/* moyens écrans de bureau */
@media (min-width: 1200px) {
  .page_connexion input {
    width:98%;
  }
}

/* grands écrans de bureau*/
@media (min-width: 1600px) {
  .page_connexion input {
    width:98.5%;
  }
}
